<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Nodekb</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="#">Nodekb</a>
        </div>
        <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        {{#if user}}
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {{else}}
         <li><a href="/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
         <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {{/if}}
        </ul>
    </div>
    </nav>

    <div class="container">
        {{{body}}}
    </div>

    <hr>
    <footer>
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href=""> Nodekb.com</a>
    </div>
    </footer>
</body>
</html>